<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=500, initial-scale=1">
  <meta charset='utf8' />
  <link href='../style/main.css' rel='stylesheet' />
  <link href='../style/font.css' rel='stylesheet' />
  <title>PD Experiment content generator</title>
</head>
<body>
  <section class='main'>
    <div class='content'>
      <div class='frame'>
          <div class='player self'>
            <div class='name'>你</div>
            <div class='action'><span>合作</span><span>不合作</span></div>
          </div>
          <div class='down'>
            <div class='other_container'>
              <div class='player other'>
                <div class='name'>对方</div>
                <div class='action'><span>不合作</span><span>合作</span></div>
              </div>
            </div>
            <table class='figure'>
              <tr>
                <td>$1</td>
                <td>$1</td>
              </tr>
              <tr>
                  <td>$1</td>
                  <td>$1</td>
                </tr>
            </table>
          </div>
        </div>
        <div class='introduction'>
            <div>
              <p>在每轮游戏中，你将看到这样的一个表格：
              <p>每个回合，你可能获得%1%元，%2%元，%3%元，或%4%元。赢得多少取决于你和对方共同的选择。你赢得的金额是方框里的数值；对方赢得的金额是方框里括号内的数值。
            </div>
            <div>
              <p>如果你们两个人都选择合作，左上角的方格会突显出来。这意味着你和对方都将获得%2%元。
            </div>
            <div>
              <p>如果对方选择合作，你选择不合作，那你会获得%4%元，对方会获得%1%元。                  
            </div>
            <div>
              <p>如果对方选择不合作，你选择合作，那你会获得%1%元，对方会获得%4%元。                  
            </div>
            <div>
              <p>如果你和对方都选择不合作，那你会获得%3%元，对方会获得%3%元。                  
            </div>
        </div>
    </div>
  </section>
  <script>
    (() => {
      const resource_info = window.location.hash.match(/^#([\d.]+),([\d.]+),([\d.]+),([\d.]+)\.(\d)\.(\S):([-\d]+)$/);
      const $main = document.querySelector('.main');
      const $position = document.querySelectorAll('.figure td');
      
      console.log(resource_info);

      if(resource_info === null)
        return $main.classList.add('error');
      
      const page_content = {
        money: [resource_info[1], resource_info[2], resource_info[3], resource_info[4]],
        position: resource_info[5],
        unit: resource_info[6],
        slide: resource_info[7],
        unitContent: {
          3: [resource_info[3], resource_info[3]],
          1: [resource_info[4], resource_info[1]],
          2: [resource_info[1], resource_info[4]],
          0: [resource_info[2], resource_info[2]],
        }
      }

      if(page_content.slide !== '-1') {
        $main.classList.add('slide');
        let $target_element = document.querySelectorAll('.introduction>div')[parseInt(page_content.slide) - 1];
        $target_element.classList.add('show');
        for (let i = 0; i < 4; i++) {
          $target_element.innerHTML = $target_element.innerHTML.replace(RegExp(`%${i + 1}%`, 'g'), resource_info[i + 1]);
        }
      } else {
        $main.classList.add('selection');
      }

      for (let i = 0; i < 4; i++) {
        $position[i].innerHTML = `<span class='b'>${page_content.unit}${page_content.unitContent[i][0]}</span>(${page_content.unitContent[i][1]})`
      }

      if(page_content.position !== '0') {
        document.querySelectorAll('.figure td')[parseInt(page_content.position) - 1].classList.add('selected');
      }
    })()
  </script>
</body>